@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

:root {
  --blue: hsl(212, 100%, 50%);
  --date-toggle: hsl(0, 0%, 100%);
  --stats: var(--date-toggle);
  --stats-results: var(--date-toggle);
  --stats-bg: hsl(220, 40%, 13%);
  --profile-bg: hsl(222, 41%, 20%);
  --button-hover: #90a4d4;
}
:root.light-mode {
  --button-hover: #222731;
  --blue: hsl(212, 100%, 50%);
  --date-toggle: hsl(217, 20%, 51%);
  --stats: hsl(217, 35%, 45%);
  --stats-results: hsl(217, 21%, 21%);
  --stats-bg: hsl(227, 100%, 98%);
  --profile-bg: hsl(0, 0%, 100%);
}

html {
  height: 100%;
}

body {
  background-color: var(--stats-bg);
  min-height: 100%;
  display: grid;
  place-content: safe center;

  /* Mobile */
  padding-inline: 1.5rem;
  gap: 2.25rem;
  /* Tablet */
  padding-inline: 1.5rem;
  gap: 2.1875rem;
}

header {
  display: flex;
  justify-content: space-between;

  color: var(--stats-results);
  align-items: center;
  h1 {
    /* Mobile */
    font-size: 1.625rem;
    line-height: 1.5;
    /* Tablet */
    font-size: 1.625rem;
    line-height: 1.5;
  }

  & svg > g {
    fill: var(--date-toggle);
  }
}
main {
  display: flex;
  flex-direction: column;
  /* Mobile */
  gap: 1rem;
  /* tablet */
  gap: 1.5rem;
}
.bio {
  grid-area: bio;
  color: var(--stats);

  /* Mobile */
  font-size: 0.8125rem;
  line-height: 1.92;
  padding-block-start: 2.0625rem;
  /* Tablet */
  font-size: 0.9375rem;
  line-height: 1.66;
  padding-block-start: 1.5rem;
}
.date-container {
  grid-area: date;
  color: var(--date-toggle);
  /* Mobile */
  font-size: 0.8125rem;
  line-height: 1.46;
  /* Tablet */
  font-size: 0.9375rem;
  line-height: 1.46;
}
.links {
  /* grid-area: linkFirst; */
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & svg > :is(path, g) {
    fill: var(--stats);
  }
  & > div {
    color: var(--stats);

    display: flex;
    gap: 1.203125rem;

    & a {
      color: inherit;
      text-decoration: none;

      /* Mobile */
      font-size: 0.8125rem;
      line-height: 1.46;
      /* tablet */
      font-size: 0.9375rem;
      line-height: 1.467;
      &:is(:active, :visited) {
        color: inherit;
        text-decoration: none;
      }

      &:hover:not([data-location]) {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  & > .unavailable {
    color: hsl(from var(--stats) h s l / 0.5);
    pointer-events: none;

    & a {
      color: inherit;
      text-decoration: none;

      &:is(:active, :visited, :hover) {
        color: inherit;
        text-decoration: none;
      }
    }

    & svg > :is(path, g) {
      fill: hsl(from var(--stats) h s l / 0.5);
    }
  }
}

.unavailable {
  color: hsl(from var(--stats) h s l / 0.5);
}
.linkFirst {
  grid-area: linkFirst;
  padding-block-end: 1rem;

  /* TAblet */
  /* padding-inline-end: 4.06rem; */
}
.linkSecond {
  grid-area: linkSecond;
}
.name-container {
  grid-area: name;

  display: flex;
  flex-direction: column;

  /* Tablet */
  justify-content: center;

  & h2 {
    color: var(--stats-results);
    /* Mobile */
    font-size: 1rem;
    line-height: 1.5;
    /* Tablet */
    font-size: 1.625rem;
    line-height: 1.5;
  }

  & h3 {
    color: var(--blue);
    /* Mobile */
    font-size: 0.8125rem;
    line-height: 1.46;
    /* Tablet */
    font-size: 1rem;
    line-height: 1.5;
  }
}
.no-results {
  color: #f74646;
  font-size: 0.9375rem;
  line-height: 1.466;
  display: none;
  /* padding-inline-end: 0.875rem; */
  white-space: pre;
  /* display: flex; */
  /* flex-direction: column; */
}

.search-container {
  background-color: var(--profile-bg);
  display: flex;
  align-items: center;
  border-radius: 0.9375rem;
  justify-content: space-between;
  /* gap: 0.4375rem; */

  & button {
    color: #ffffff;
    background-color: var(--blue);
    border-radius: 0.625rem;
    /* Mobile */
    margin-block: 0.40625rem 0.46875rem;
    margin-inline: 0.4375rem;
    font-size: 0.875rem;
    line-height: 1.5;
    padding-block: 0.78125rem;
    padding-inline: 1rem;
    /* Tablet */
    margin-block: 0.59375rem;
    margin-inline: 0.625rem;
    font-size: 1rem;
    line-height: 1.5;
    padding-block: 0.78125rem 0.84375rem;
    padding-inline: 1.5rem;

    &:hover {
      cursor: pointer;
      background-color: #60abff;
    }
  }

  & img {
    /* Mobile */
    padding-inline: 1rem 0.4375rem;
    /* Tabker */
    padding-inline: 2rem 1.49625rem;
  }

  & input {
    all: unset;
    width: 100%;
    color: var(--date-toggle);
    caret-color: var(--blue);
    /* Mobile */
    font-size: 0.8125rem;
    line-height: 1.92;
    /* Tablet */
    font-size: 1.125rem;
    line-height: 1.38;
    /* width: 7.6875rem; */
    /* width: 11.9375rem; */

    &:hover {
      cursor: pointer;
    }
    &::placeholder {
      color: inherit;
    }
  }
}
.stats-container {
  grid-area: stats;
  display: flex;
  background-color: var(--stats-bg);
  justify-content: space-evenly;
  border-radius: 0.625rem;

  /* Mobile */
  margin-block: 1.4375rem 1.5rem;
  padding-block: 1.125rem 1.1875rem;
  padding-inline: 0.9375rem 0.875rem;
  /* Tablet */
  margin-block: 2rem 1.875rem;
  padding-block: 1.125rem 1.1875rem;
  padding-inline: 2rem 6rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    &:first-child {
      padding-inline-end: 6.1875rem;
    }
    &:nth-child(2) {
      padding-inline-end: 5.125rem;
    }
  }
  & h4 {
    color: var(--stats);
    /* Mobile */
    font-size: 0.6875rem;
    line-height: 1.45;
    /* Tablet */
    font-size: 0.8125rem;
    line-height: 1.46;
  }

  & p {
    color: var(--stats-results);
    /* Mobile */
    font-size: 1rem;
    line-height: 1.5;
    /* Tablet */
    font-size: 1.375rem;
    line-height: 1.5;
  }
}

.profile {
  display: grid;
  background-color: var(--profile-bg);
  /* Mobile */
  border-radius: 0.9375rem;
  padding-block: 2rem 3rem;
  padding-inline: 1.5rem;
  /* Tablet */
  border-radius: 0.9375rem;
  padding-block: 3.25rem 2.5rem;
  padding-inline: 2.5rem;

  grid-template-areas:
    "profilePic  name "
    "profilePic  date "
    "bio bio  "
    "stats stats  "
    "linkFirst   linkFirst"
    "linkSecond   linkSecond";
}
.profile-pic {
  grid-area: profilePic;

  /* Mobile */
  /* width: 4.375rem; */
  /* height: 4.375rem; */
  /* Tablet */
  width: 7.3125rem;
  height: 7.3125rem;
  /* margin-inline-end: 2.5625rem; */

  & img {
    border-radius: 50%;
  }
}
#toggle-btn {
  display: flex;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1.46;
  letter-spacing: 0.15625rem;
  gap: 1rem;

  color: var(--date-toggle);
  &:hover {
    cursor: pointer;
    color: var(--button-hover);

    & svg > g {
      fill: var(--button-hover);
    }
  }
}

@media (min-width: 48rem) {
  .profile {
    grid-template-areas:
      "profilePic name name name"
      "profilePic date date date"
      "bio bio bio bio"
      "stats stats stats stats"
      "linkFirst linkFirst linkSecond linkSecond";
  }

  .stats-container {
    justify-content: space-between;
    & > div {
      align-items: flex-start;
    }
  }
}

@media (min-width: 90rem) {
  .profile {
    grid-template-areas:
      "profilePic name date"
      "profilePic bio bio"
      "profilePic stats stats "
      "profilePic linkFirst linkSecond";
  }
}
