@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

:root {
  --blue: hsl(212, 100%, 50%);
  --date-toggle: hsl(0, 0%, 100%);
  --stats: var(--date-toggle);
  --stats-results: var(--date-toggle);
  --stats-bg: hsl(220, 40%, 13%);
  --profile-bg: hsl(222, 41%, 20%);
}
:root.light-mode {
  --blue: hsl(212, 100%, 50%);
  --date-toggle: hsl(217, 20%, 51%);
  --stats: hsl(217, 35%, 45%);
  --stats-results: hsl(217, 21%, 21%);
  --stats-bg: hsl(227, 100%, 98%);
  --profile-bg: hsl(0, 0%, 100%);
}

html {
  height: 100%;
}

body {
  background-color: var(--stats-bg);
  min-height: 100%;
  display: grid;
  place-content: safe center;

  padding-inline: 1.5rem;
  gap: 2.25rem;
}

header {
  display: flex;
  justify-content: space-between;

  color: var(--stats-results);
  align-items: center;
  h1 {
    font-size: 1.625rem;
    line-height: 1.5;
  }

  button {
    text-transform: uppercase;
    font-size: 0.8125rem;
    line-height: 1.46;
    letter-spacing: 0.15625rem;
    gap: 1rem;
  }
}
.search-container {
  background-color: var(--profile-bg);
  display: flex;
  align-items: center;
  border-radius: 0.9375rem;
  /* justify-content: space-between; */
  /* gap: 0.4375rem; */

  & button {
    color: #ffffff;
    background-color: var(--blue);
    border-radius: 0.625rem;
    margin-block: 0.40625rem 0.46875rem;
    margin-inline: 0.4375rem;
    font-size: 0.875rem;
    line-height: 1.5;
    padding-block: 0.78125rem;
    padding-inline: 1rem;
  }

  & img {
    padding-inline: 1rem 0.4375rem;
  }

  & input {
    all: unset;
    color: var(--date-toggle);
    /* margin-inline-end: 0.4375rem; */
    font-size: 0.8125rem;
    line-height: 1.92;
    width: 11.9375rem;

    &::placeholder {
      color: inherit;
      font-size: inherit;
    }
  }
}
#toggle-btn {
  display: flex;
}
